<ion-view title="Current Food Habits" id="page11" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 731.2px; height: 34px;"></div>
    <div>
      <img src="img/ofDWLZhsTrC6SU4KO2Em_stc_logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 731.2px; height: 30px;"></div>
    <div id="currentFoodHabits-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">For each food, enter the name and the number of times the individual consumes it in a week. </p>
    </div>
    <div class="spacer" style="width: 731.2px; height: 15px;"></div>
    <form id="currentFoodHabits-form14" class="list">
      <label class="item item-input" id="currentFoodHabits-input13">
        <span class="input-label">Food 1: </span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="currentFoodHabits-input14">
        <span class="input-label">Weekly Servings:</span>
        <input placeholder="" type="number">
      </label>
      <div class="spacer" style="width: 731.2px; height: 15px;"></div>
      <label class="item item-input" id="currentFoodHabits-input15">
        <span class="input-label">Food 2: </span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="currentFoodHabits-input16">
        <span class="input-label">Weekly Servings:</span>
        <input placeholder="" type="number">
      </label>
      <div class="spacer" style="width: 731.2px; height: 15px;"></div>
      <label class="item item-input" id="currentFoodHabits-input17">
        <span class="input-label">Food 3: </span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="currentFoodHabits-input19">
        <span class="input-label">Weekly Servings:</span>
        <input placeholder="" type="number">
      </label>
      <div class="spacer" style="width: 731.2px; height: 15px;"></div>
      <label class="item item-input" id="currentFoodHabits-input20">
        <span class="input-label">Food 4: </span>
        <input placeholder="" type="text">
      </label>
      <label class="item item-input" id="currentFoodHabits-input21">
        <span class="input-label">Weekly Servings:</span>
        <input placeholder="" type="number">
      </label>
      <div class="spacer" style="width: 731.2px; height: 15px;"></div>
      <div style="margin-right:-20px;">
        <button id="currentFoodHabits-button11" style="left:-10px;" class="button button-dark button-small button-full icon ion-android-add"></button>
      </div>
      <div class="spacer" style="width: 731.2px; height: 50px;"></div>
    </form>
    <a ui-sref="reccomendedFoods" id="currentFoodHabits-button12" class="button button-assertive  button-block">Proceed</a>
  </ion-content>
</ion-view>