<ion-view title="Home" id="page8" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283.2px; height: 110px;"></div>
    <div>
      <img src="img/lz9HTbL9QR2olEDHTEOq_stc_logo.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="home-container1">
      <div class="spacer" style="width: 283.2px; height: 17px;"></div>
      <a ui-sref="selectExistingFamily" id="home-button6" style="font-weight:500;font-size:25px;" class="button button-assertive button-large button-block button-outline">Select Existing Family</a>
    </div>
    <div class="spacer" style="width: 283.2px; height: 10px;"></div>
    <button id="home-button8" style="font-size:25px;" class="button button-assertive button-large button-block">Create New Family</button>
  </ion-content>
</ion-view>