<ion-view title="New Individual" id="page10" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 731.2px; height: 34px;"></div>
    <div>
      <img src="img/ofDWLZhsTrC6SU4KO2Em_stc_logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 731.2px; height: 15px;"></div>
    <form id="newIndividual-form11" class="list">
      <label class="item item-input" id="newIndividual-input11">
        <span class="input-label">First Name:</span>
        <input placeholder="please enter the individual's first name" type="text">
      </label>
      <label class="item item-input" id="newIndividual-input12">
        <span class="input-label">Last Name:</span>
        <input placeholder="please enter the individual's second name" type="text">
      </label>
    </form>
    <div class="spacer" style="width: 731.2px; height: 15px;"></div>
    <form id="newIndividual-form12" class="list">
      <label class="item item-select" id="newIndividual-select1">
        <span class="input-label">Age Group:</span>
        <select>
          <option>11 - 23 Months</option>
          <option>8 - 9 Years</option>
          <option>10 - 13 Years</option>
        </select>
      </label>
    </form>
    <div class="spacer" style="width: 731.2px; height: 15px;"></div>
    <a ui-sref="currentFoodHabits" id="newIndividual-button9" class="button button-assertive  button-block">Proceed</a>
  </ion-content>
</ion-view>