<ion-view title="Reccomended Foods" id="page12" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 731.2px; height: 34px;"></div>
    <div>
      <img src="img/ofDWLZhsTrC6SU4KO2Em_stc_logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 731.2px; height: 30px;"></div>
    <div id="reccomendedFoods-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Please swipe right if you would like to include the suggested food in your diet, otherwise swipe left.</p>
    </div>
    <div class="spacer" style="width: 731.2px; height: 60px;"></div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 731.2px; height: 43px;"></div>
    <div id="reccomendedFoods-button-bar2" class="button-bar">
      <button id="reccomendedFoods-button22" style="font-weight:500;font-size:30px;" class="button button-assertive button-large button-block">yes!</button>
      <button id="reccomendedFoods-button24" style="font-weight:500;font-size:30px;" class="button button-assertive  button-block button-outline">no</button>
    </div>
    <div class="spacer" style="width: 731.2px; height: 30px;"></div>
    <button id="reccomendedFoods-button25" class="button button-assertive  button-block">Proceed</button>
  </ion-content>
</ion-view>