<ion-view title="Report" id="page13" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 731.2px; height: 34px;"></div>
    <div>
      <img src="img/ofDWLZhsTrC6SU4KO2Em_stc_logo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 731.2px; height: 30px;"></div>
    <div id="report-container2">
      <h1 id="report-heading1" style="color: rgb(0, 0, 0);">Nutrition Report</h1>
      <div id="report-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <pre>
          <code>&lt;INSERT INFORMATION HERE&gt;</code>
        </pre>
      </div>
    </div>
  </ion-content>
</ion-view>