<ion-view title="Select Existing Family" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <form id="selectExistingFamily-form9" class="list">
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="selectExistingFamily-search1" name="search" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="search for existing families" type="search">
      </label>
    </form>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="selectExistingFamily-list4">
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item1" style="">
        <h2assertive>Family #1
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item2" style="">
        <h2assertive>Family #2
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item3" style="">
        <h2assertive>Family #3
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item4" style="">
        <h2assertive>Family #4
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item5" style="">
        <h2assertive>Family #5
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item6" style="">
        <h2assertive>Family #6
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item7" style="">
        <h2assertive>Family #7
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item8" style="">
        <h2assertive>Family #8
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item9" style="">
        <h2assertive>Family #9
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingFamily-list-item10" style="">
        <h2assertive>Family #10
          <p>[ 'Member 1', 'Member 2', 'Member 3' ... 'Member n' ]</p>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>