<ion-view title="Select Existing Individual" id="page9" style="">
  <ion-content padding="true" class="has-header">
    <form id="selectExistingIndividual-form9" class="list">
      <div class="spacer" style="height: 10px;"></div>
      <label class="item item-input" id="selectExistingIndividual-search1" name="search" style="">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="search for existing families" type="search">
      </label>
    </form>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="selectExistingIndividual-list4">
      <ion-item class="item-avatar assertive" id="selectExistingIndividual-list-item1" style="">
        <h2assertive>Individual #1</h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingIndividual-list-item2" style="">
        <h2assertive>Individual #2</h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingIndividual-list-item3" style="">
        <h2assertive>Individual #3</h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingIndividual-list-item4" style="">
        <h2assertive>Individual #4</h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingIndividual-list-item5" style="">
        <h2assertive>Individual #5</h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="selectExistingIndividual-list-item6" style="">
        <h2assertive>Individual #6</h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>