<ion-view title="Signup" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 283.2px; height: 110px;"></div>
    <div>
      <img src="img/0Eomdt2qTKW9USp90wYt_stc_logo.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="signup-form8" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Name</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Username</span>
          <input placeholder="" type="text">
        </label>
        <label class="item item-input" id="signup-input8">
          <span class="input-label">Password</span>
          <input placeholder="" type="text">
        </label>
      </ion-list>
      <a ui-sref="login" id="signup-button5" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>